<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu_center.mapper.UcenterMemberMapper">

    <!--查询某一天注册人数
            date()函数作用: 日期格式化,就是把2022-03-23 13:34 只留日期,变成2022-03-23-->
    <select id="countRegisterDay" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM ucenter_member uc
        WHERE DATE(uc.gmt_create)=#{day}
    </select>

</mapper>
